#qx 配置

hostname = me-api.jd.com,ms.jr.jd.com,plogin.m.jd.com,home.m.jd.com,api.m.jd.com

# 获取多账号京东Cookie
https:\/\/me-api\.jd\.com\/user_new\/info\/GetJDUserInfoUnion url script-request-header https://raw.githubusercontent.com/douzicao/scripts/main/QX/JD_extra_cookie.js
#登录助手
^https?:\/\/home\.m\.jd\.com\/userinfom\/QueryUserInfoM url script-response-body https://raw.githubusercontent.com/douzicao/scripts/main/QX/jd_login_help2.js
^https?:\/\/plogin\.m\.jd\.com\/login\/login url script-response-body https://raw.githubusercontent.com/douzicao/scripts/main/QX/jd_login_help2.js
# 京粉转链
# 如果京粉转链不生效，请检查重写是否订阅了神机去广告，然后把该订阅打开资源解析器，在订阅后面加#out=functionId即可；
# 或者在本地重写[rewrite_local]添加一条 ^https?:\/\/api\.m\.jd.com\/client\.action\?functionId=start url reject-200
^https?://api\.m\.jd\.com/(client\.action|api)\?functionId=(wareBusiness|serverConfig|basicConfig|lite_wareBusiness|pingou_item) url script-response-body https://raw.githubusercontent.com/douzicao/scripts/main/QX/jf_Convert.js
