#qx 配置

hostname = me-api.jd.com,ms.jr.jd.com,plogin.m.jd.com,home.m.jd.com,api.m.jd.com,www.xmind.cn,dida365.com, *.caiyunapp.*, *cyapi*, top-widgets-api.xiaozujian.com, wallpaper.soutushenqi.com, api.xunyou.mobi, api.gotokeep.com, ap*.intsig.net, *1*1*, 122.224.48.113, web-er.zhihu.com, 60.188.72.179, 120.220.198.*,120.222.234.*,103.41.167.*,www.zhihu.com, api.zhihu.com, appcloud2.zhihu.com, m-cloud.zhihu.com,116.136.170.105, zhuanlan.zhihu.com, *faceu*,*retouchpics*,*.ulikecam.com, service.ilovepdf.com, notability.com, www.xmind.cn, www.xmind.net, www.xmind.app, *.adguard.org, *.aoscdn.com, buy.itunes.apple.com, *.x-storm.com, *.example.com, api.revenuecat.com, app-measurement.com,*.googleapis.com

# 滴答清单 6.3.80
^https:\/\/dida365\.com\/api\/v2\/user\/status url script-response-body https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/ddqd.js

#搜图神器 最新版
#软件版本：v1.2.7
http:\/\/wallpaper\.soutushenqi\.com\/api\/v1\/account url script-response-body https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/stsq.js

# 醒图+剪映+轻颜相机 会员
^http[s]?:\/\/.+((retouchpics)|(faceu)|(ulikecam)).(com|cn|mobi)\/.+(user|\/v1\/homepage\/pro|ever_photo\/space_info).*$ url script-response-body https://raw.githubusercontent.com/WeiRen0/Scripts/main/XTJY.js
^http[s]?:\/\/commerce-api\.faceu\.mobi\/commerce\/v1\/subscription\/user_info\?(iid|.&aid|.&iid).*$ url script-request-header https://raw.githubusercontent.com/WeiRen0/Scripts/main/xintu.js
^http[s]?:\/\/commerce-api-.*\.faceu\.mobi\/commerce\/v1\/.*$ url script-request-header https://raw.githubusercontent.com/WeiRen0/Scripts/main/JY.js
^http[s]?:\/\/commerce-api.faceu.mobi\/commerce\/v1\/subscription\/user_info.*total_memory.*$ url script-request-header https://raw.githubusercontent.com/WeiRen0/Scripts/main/jxyq.js


# 获取多账号京东Cookie
https:\/\/me-api\.jd\.com\/user_new\/info\/GetJDUserInfoUnion url script-request-header https://raw.githubusercontent.com/douzicao/scripts/main/QX/JD_extra_cookie.js
#登录助手
^https?:\/\/home\.m\.jd\.com\/userinfom\/QueryUserInfoM url script-response-body https://raw.githubusercontent.com/douzicao/scripts/main/QX/jd_login_help2.js
^https?:\/\/plogin\.m\.jd\.com\/login\/login url script-response-body https://raw.githubusercontent.com/douzicao/scripts/main/QX/jd_login_help2.js
